
.CollectionsCard .p{
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', sans-serif;
    color: #1c7cdc;  
    margin: 0; 
}

.price{
    text-align: center;
    margin: 0;
    font-size: 18px;
    color: #b04488;
    font-weight: 400;
}

.CardImage{
    border-radius: 1rem;
    overflow: hidden;
    height: 12rem;
    width: 12rem;
}

.CardImage:hover{    
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.5), 0 8px 20px 0 rgba(0, 0, 0, 0.5); 
}

.CardImage img{
    height: 100%;
    width: 100%;
}
